/* Border */

.gray-border {border: 1px solid gray;}

.black-border {border: 1px solid black;}

.none-bottom {border-bottom: none;}

/* Background */

.bg-light-blue {background-color: #b4d0e7;}

/* Spacing */

.pl-5px {padding-left: 5px;}

/****** Header ******/

#shadow {
    box-shadow: 0px 2px rgb(198, 198, 198);
}

/****** Main ******/

/* Title section */

h1 {
    font-size: 55px;
    font-weight: 900;
}

#arrow-down {
    font-size: 40px;
}

h2 {font-size: 36px;}

h4 {font-size: 24px;}

.blue-thick {color: blue;}