/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Backgrounds */

.background-green {background-color: green;}
.background-red {background-color: red;}
.background-yellow {background-color: yellow;}
.background-aqua {background-color: aqua;}
.background-violet {background-color: violet;}
.background-purple {background-color: purple;}

.background-light-blue {
    background-color: #b4d0e7;
}

.background-gray {
    background-color: #f5f5f5;
}

.background-black {
    background-color: black;
}

.background-white {
    background-color: white;
}

.background-blue {
    background-color: #0061ff;
}

/* Dimensions */

.one-third {
    width: calc(100% / 3);
}

.left-side {
    width: 35%;
}

.thirty-percent {
    width: 30%;
}

.half-widith {
    width: 50%;
}

/* Flexes */

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.vertical-center {
    display: flex;
    align-items: center;
}

/* Positons */

.fixed {
    position: fixed;
}

/* General */

.center {
    width: 55%;
    margin: 0 auto;
}

.top-spacing {
    margin-top: 7rem;
}

.white-fonts {
    color: white;
}

/* **Header** */

header {
    width: 100%;
    padding: 1.5rem 1rem;
    z-index: 99;
}

header a {
    color: black;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header button {
    border: 0;
    padding: 0.5rem 1rem;
    color: white;
}

#non-button {
    width: 80%;
}

#header-button {
    width: 20%;
}

/* **Main** */

/* Title section */

#fixed-space {
    padding-top: 5rem;
    width: 65%;
    margin: 0 auto;
}

/* Prices section */

/* Partner section */

/* Business section */

/* FAQ section */

/* **Footer** */