/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Backgrounds */

.background-green {background-color: green;}
.background-red {background-color: red;}
.background-yellow {background-color: yellow;}
.background-aqua {background-color: aqua;}
.background-violet {background-color: violet;}
.background-purple {background-color: purple;}

.background-light-blue {
    background-color: #b4d0e7;
}

/* Dimensions */

.one-third {
    width: calc(100% / 3);
}

.left-side {
    width: 35%;
}

.thirty-percent {
    width: 30%;
}

/* Flexes */

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

/* Positons */

.fixed {
    position: fixed;
}

/* General */

.center {
    width: 55%;
    margin: 0 auto;
}

.top-spacing {
    margin-top: 7rem;
}

/* Header */

header {
    width: 100%;
    padding: 1rem 0.5rem;
}

/* Main */

/* Title section */

#fixed-space {
    padding-top: 5rem;
    width: 65%;
    margin: 0 auto;
}

/* Prices section */

/* Partner Section */